* {
    font-family: Roboto
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header, .hero-container, .footer {
    background-color: #1F222B;
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 20px 150px;
}

.logo {
    width: 100px;
}

.hero-container {
    padding: 100px 150px;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex: 1;
}

.donate {
    background-color: #ff7b00;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 25px;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 100px 150px;
    gap: 50px;
}

.member-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.member-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.member-info {
    flex: display;
    max-width: 150px;
    justify-content: center;
}

.member-text {
    width: 150px;
    text-align: center; 
    color: #6a6f75;
}

.member {
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #373644;
}

.author {
    font-weight: bold;
    color: #373644;
}

.bottom {
    background-color: #ff7b00;
    padding: 30px 100px;
    margin: 100px 150px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.donate.border {
    border: 2px solid #ffffff;
}

.bottom .donate {
    flex: 1;
    max-width: 100px;
}

.donate-left {
    flex: 2;
}

.cta {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.cta-subtext {
    color: #E5E7EB;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    color: #E5E7EB;
    font-size: 12px;
}